.modalWindow {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modalWindowContent {
    padding: 10px;
    border: solid 2px #000000;
    background-color: #ffffff;
}

.modalWindow.active {
    display: flex;
    justify-content: center;
    align-items: center;
}