.timer {
    text-align: center;
}

.trainer {
    text-align: center;
}

.chars {
    text-align: center;
    font-size: 16pt;
    max-lines: 4;
}

.charsOut {
    color: gray;
}

.charsIn {

}

.currChar {
    background-color: rgba(0, 191, 255, 0.8);
    color: white;
}